                  <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
						<h3>Updates</h3>
                                        
                      <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-arrow-up"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>4/11/2016</muted><br/>
                      		    Updated application to 1.1 <br/><a href="change_log.html">View Change Log</a>
                      		</p>
                      	</div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-arrow-up"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>3/27/2016</muted><br/>
                      		    Updated application to 1.0<br/><a href="change_log.html">View Change Log</a>
                      		</p>
                      	</div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-rocket"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>3/15/2016</muted><br/>
                      		    Beta Launch<br/>
                      		</p>
                      	</div>
                      </div>
                  </div><!-- /col-lg-3 -->